<a href="https://colab.research.google.com/github/nazuma123/Machine-Learning/blob/main/Simple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

   Height  Weight
0    1.47   52.21
1    1.50   53.12
2    1.52   54.48
3    1.55   55.84
4    1.57   57.20

In [ ]:
df.tail()

    Height  Weight
10    1.73   66.28
11    1.75   68.10
12    1.78   69.92
13    1.80   72.19
14    1.83   74.46

In [ ]:
len(df)

15

In [ ]:
df.ndim

2

In [ ]:
df.size

30

In [ ]:
df.shape

(15, 2)

In [ ]:
df.info()  # information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
Height    15 non-null float64
Weight    15 non-null float64
dtypes: float64(2)
memory usage: 368.0 bytes

In [ ]:
df.columns

Index(['Height', 'Weight'], dtype='object')

In [ ]:
df.describe()

          Height     Weight
count  15.000000  15.000000
mean    1.650667  62.078000
std     0.114235   7.037515
min     1.470000  52.210000
25%     1.560000  56.520000
50%     1.650000  61.290000
75%     1.740000  67.190000
max     1.830000  74.460000

In [ ]:
# finding the null values or not

df.isnull().sum()

Height    0
Weight    0
dtype: int64

In [ ]:
df.isnull()

    Height  Weight
0    False   False
1    False   False
2    False   False
3    False   False
4    False   False
5    False   False
6    False   False
7    False   False
8    False   False
9    False   False
10   False   False
11   False   False
12   False   False
13   False   False
14   False   False

In [ ]:
X = df['Height'] # independent
y = df['Weight'] # dependent

In [ ]:
X.head()

0    1.47
1    1.50
2    1.52
3    1.55
4    1.57
Name: Height, dtype: float64

In [ ]:
y.head()

0    52.21
1    53.12
2    54.48
3    55.84
4    57.20
Name: Weight, dtype: float64

In [ ]:
# sklearn ->skcirt learn

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=10) #0 values will be changed

In [ ]:
X_train

2     1.52
10    1.73
5     1.60
11    1.75
14    1.83
1     1.50
0     1.47
4     1.57
13    1.80
9     1.70
Name: Height, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression()

In [ ]:
X = X.values.reshape(-1 , 1)

In [ ]:
X.shape

(15, 1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
reg.fit(X_train , y_train)

LinearRegression()

In [ ]:
reg.coef_

array([62.01422981])

In [ ]:
reg.intercept_

-40.388393810032014